src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="3bf63f19-a4e4-4f6d-9abb-9a07164b1065" >
		<http:listener doc:name="Listener" doc:id="96daa46e-3c43-4c25-9020-eb6421f3bc49" config-ref="HTTP_Listener_config" path="delete-employee/{employeeID}/{employeeName}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="Start Log" doc:id="1fc59554-3660-4fbd-a945-ded35bae4619" message="Delete employee flow started"/>
		<db:stored-procedure doc:name="Call Delete Employee Stored procedure" doc:id="0e265a40-08e9-429c-8f62-6e4b62a8f2c5" config-ref="Database_Config">
			<db:sql ><![CDATA[{call delete_emp(:empID, :empName)}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.uriParams.employeeID,
	empName: attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Set Response" doc:id="af7c15c6-fd11-421f-b566-55d8f3587bcc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 200,
	"message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="e0f1c56f-accd-4614-854b-ea34d1ff4acb" message="Completed delete employee flow"/>
	</flow>
</mule>
